/***STYLE***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
body{
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 60px;
}
h3{
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.sec-space {
    padding: 4rem 0;
}
.extra-space {
    padding-top: 8rem;
}
.obj-width {
    max-width: 1200px;
    margin: auto;
}

/*NAVIGATION*/

header {
    background-color:rgb(46, 46, 46);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}
#navigation .logo{
    width: 120px;
}
#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
#menu li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}
#btn{
    text-decoration: none;
    margin-left: 40px;
    background: rgb(219, 61, 4);
    color:rgb(255, 255, 255);
    padding: 9px 30px;
    border-radius: 13px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
#menubar{
    color:white;
    display: none;
}

/***login***/
.main {
    background-color: rgb(56, 56, 56);
}
.mainbox {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
.h-left {
    width: 100%;
    color: white;
}
.h-left p {
    padding: 1.5rem 0;
}
.login-sect{
    position: relative;
}
.login-sect input {
    width: 30%;
    height: 3rem;
    border-radius: 35px;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-bottom: 10px;
}
.login-sect a {
    text-decoration: none;
    background: rgb(219, 61, 4);
    color:rgb(255, 255, 255);
    padding: 9px 30px;
    border-radius: 35px;
}

.login-button {
    background: rgb(219, 61, 4);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 35px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.sign-up-button {
    background: rgb(255, 255, 255);
  color: rgb(219, 61, 4);
  padding: 9px 25px;
  border: 2px solid rgb(219, 61, 4);
  border-radius: 35px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px;
}

.signup-inline {
    display: flex;
    align-items: center;
    gap: 10px; /* spacing between text and button */
}