body {
    background-color: rgb(141, 194, 230);
    color:aliceblue
}

h1 {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 40%;
}

h2 {
    margin: 0;
    position: absolute;
    left: 30%;
    top: 50%;
}